html {
  background-color: #efeee9;
  font-family: Dosis, sans-serif;
}

h1 {
  color: #5d1900;
}

header ol {
  list-style-type: none;
  background-color: #9a816d;
}
a {
  color: white;
  text-decoration: none;
}
